/* LAYOUT GERAL */
.blog-page {
  display: flex;
  flex-direction: column;
  /*padding-bottom: 2rem;*/
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

/* HERO */
.hero-section {
  width: 100vw;
  height: 250px;
  background: linear-gradient(to bottom, #095e8b, #0541617c),
              url('../../public/Desing-blog.png');
  background-size: cover;
  background-position: center;
}

/* GRID DOS POSTS */
.post-container-blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 5%;
}

/* CARDS PRINCIPAIS */
.post-card-alg {
  background-color: #c0dcee;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 300px;
  transition: transform .2s;
}

.post-card-alg:hover {
  transform: scale(1.03);
}

.post-img-blog {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.post-info {
  background-color: #c0dcee;
  padding: 20px;
  color: #233568;
}

.post-title {
  font-weight: bold;
  margin-bottom: 12px;
}

/* METADADOS */
.user {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

/* CURISOSIDADES (FINAL) */
.curiosidade-final {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 3rem auto;
  width: 80%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: left;
}

j.btn-ver-mais {
  background-color: #6aa2c5;
  color: #fff;
  padding: 14px 22px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.btn-ver-mais:hover {
  background-color: #233568;
}

.conteudo-extra {
  margin-top: 15px;
  animation: aparecer .4s ease;
}

/* Animação */
@keyframes aparecer {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
