* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", sans-serif;
}

a[href^="#"] {
  scroll-behavior: smooth;
}


/* VARIÁVEIS DE TEMA */
:root {
  --color-primary: #0d6efd;
  --color-primary-light: #3b9dff;

  --color-gradient-start: #f0f0ec;
  --color-gradient-end: #1565c0;

  --text-dark: #111827;
  /* texto escuro */
  --text-light: #ffffff;
  /* texto claro */

  --header-height: 60px;
  --color-shadow: rgba(0, 0, 0, 0.15);
}

/* FUNDO GERAL / LAYOUT */
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: var(--color-gradient-start);
  color: var(--text-dark);
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root,
.app-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* LINKS */
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: var(--color-primary-light);
  text-decoration: underline;
}

/* =BOTÕES */
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: var(--color-primary);
  color: var(--text-light);
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--color-primary-light);
}

button:active {
  transform: scale(0.97);
}

/* MAIN (CONTEÚDO) */
/*main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;    
  padding-top: var(--header-height);
  padding-bottom: 40px;
}*/
/* Regras gerais para a tag main (preenchimento do header, etc) */
main {
  flex: 1;
  width: 100%;
  padding-top: var(--header-height);
  padding-bottom: 0px;
}

/*  CONFIGURAÇÃO PARA PÁGINAS PÚBLICAS (Home, Login, Blog...)  */
.public-main {
   flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;    
  padding-top: var(--header-height);
  padding-bottom: 10px;     
}

/*  CONFIGURAÇÃO PARA O ADMIN  */
.admin-main {
  flex: 1;
  padding: 0px;
  width: 100%;
  transition: padding-left var(--transition-speed) var(--transition-ease);
  box-sizing: border-box;
  margin: 0 auto;     
}

/* CONTAINER GLOBAL */
.container {
  padding: 1.25rem;
  border-radius: 12px;
  margin: 0 90px;
  /* Glassmorphism Moderno */
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  margin-top: 50px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

/* RODAPÉ */
footer {
  text-align: center;
  padding: 20px;
  color: var(--text-light);
  background: rgba(13, 110, 253, 0.2);
  backdrop-filter: blur(8px);
  font-size: 0.9rem;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  main {
    padding-top: 70px;
  }

  .container {
    padding: 1rem;
  }
}