.site-header {
    width: 100%;
    background: linear-gradient(to top, rgb(80, 80, 247), rgb(58, 58, 252), rgb(13, 13, 252));
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    /* LOGO de um lado, nav do outro */
    align-items: center;
    /* Remove o padding padrão do container para o header */
    padding-top: 0;
    padding-bottom: 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 900;
    color: #ffffff;
    text-decoration: none;
}

.main-nav a {
    margin-left: 1.5rem;
    font-size: 1rem;
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.main-nav a:hover {
    color: #85a2f1;
}

/* Em Header.css */
.logoff-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff; /* ou a cor do seu texto de navegação */
  font-weight: 800;
  font-size: 1rem; /* ou o tamanho da fonte da navegação */
  text-decoration: none;
  padding: 0;
  margin-left: 20px; /* ou o margin dos seus links */
  font-family: inherit; /* Garante a mesma fonte */
}

.logoff-button:hover {
  text-decoration: none; /* ou seu efeito hover */
  color: #f35a5a;
}