.sobreContainer {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1.5rem;
  text-align: center;
  color: #000;
}

.sobreTitle {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: #000;
}

.sobreCard {
  background-color: #d9e0f8fb;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  text-align: left;
}

.sobreCard p {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #000;
}

.sobreSubtitle {
  font-size: 1.7rem;
  margin: 1rem 0;
  color: #000;
}

.sobreList {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: auto;
  text-align: left;
  color: #000;
}

.sobreList li {
  padding: 0.5rem 0;
  font-size: 1.1rem;
}

.sobreFinal {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #000;
}
